footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
    .enlaces-container {
        display: flex;
        gap: 3em;
        padding-left: 2em;
    }
    .navegation-container {
        display: flex;
        flex-direction: column;
    }
    .title-navegation {
        padding-bottom: 0.5em;
    }
    .enlace {
        text-decoration: none;
        color: gray;
        padding-bottom: 0.5em;
    }
    .icon-logo-footer {
        height: 3em;
        width: 12em;
    }
    .icon-contact {
        height: 1.5em;
        width: 1.5em;
    }
}