.section-nosotros {
    padding-top: 2em;
    padding-bottom: 2em;
}
.container-nosotros {
    background-color: white;
    border-radius: 5px;
}
.container-title-nosotros {
    border-bottom: 1px solid #cccccc;
    padding: 0.5em;
}

.title-nosotros {
    font-size: 1em;
    padding-left: 1em;
}
.paragraph-nosotros {
    padding-top: 2em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.9em;
    text-align: justify;
}

.div-iframe {
    text-align: center;
}
.iframe-nosotros {
    margin-top: 4em;
    border: transparent;
    border-radius: 5px;
}

.navegation-container-cat {
    display: none;
}
