@import "global";
@import "navbar";
@import "variables";
@import "mixins";
@import "categorysection";
@import "contractcategory";
@import "footer";

@include mobile {
    header {
        flex-direction: row;
        height: 3.5rem;
        justify-content: space-between;
        padding: 0;
        nav {
            ul {
                flex-direction: row;
                gap: 1.5em;
            }
        }
    }
    .div-container {
        width: 85%;
        max-width: 1320px;
        margin: 0 auto;
    }
    .div-container-main {
        background-color: #EBEBEB;
    }
    .section-category {
        align-items: flex-start;
    }
}

@media (max-width:1024px) {
    .section-contract-div-product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .image-product-container {
        margin-right: 1em;
    }
}

@media (max-width:768px) {
    .section-contract-div-product {
        display: flex;
    }
    .section-contract-title-contract {
        text-align: center;
    }
    .info-contact-container {
        text-align: center;
    }
    .enlaces-container {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    .navegation-container {
        display: flex;
        flex-direction: column;
        padding-bottom: 2em;
    }
    .title-navegation {
        padding-bottom: 0.5em;
    }
    .enlace {
        text-decoration: none;
        color: gray;
        padding-bottom: 1em;
    }
    .icon-contact {
        margin-right: 1em;
    }
}

@media (max-width:425px) {
    .section-contract-title-contract {
        text-align: center;
    }
    .section-contract-div-product {
        flex-direction: column;
        align-items: center;
    }
    .image-product-container {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
}
