@import "global";
@import "navbar";
@import "variables";
@import "mixins";
@import "categorysection";
@import "contractcategory";
@import "footer";
@import "comercios";
@import "blog";
@import "contactanos";
@import "nosotros";

@include mobile {
    header {
        flex-direction: row;
        height: 3.5rem;
        justify-content: space-between;
        padding: 0;
        nav {
            ul {
                flex-direction: row;
                gap: 1.5em;
            }
        }
    }
    .div-container {
        width: 85%;
        max-width: 1320px;
        margin: 0 auto;
    }
    .div-container-main {
        background-color: #EBEBEB;
    }
    .section-category {
        align-items: flex-start;
    }

    .section-container-search {
        padding-left: 0;
        padding-right: 0;
    }

    .section-container-comercio {
        padding-left: 0;
        padding-right: 0;
    }

    .div-container-num {
        padding-left: 0;
    }

    footer .email-container {
        justify-content: flex-start;
        gap: 0.3em;
    }

    footer .number-container {
        justify-content: flex-start;
        gap: 0.3em;
    }

    .container-row .section-container-search-blog {
        align-items: flex-start;
    }

    .container-row .section-container-blog {
        padding-left: 0;
        padding-right: 0;
    }

    .container-row .search-blog-input {
        margin-left: 0;
    }
}

@media (max-width:1024px) {
    .section-contract-div-product {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .image-product-container {
        margin-right: 1em;
    }
    .section-container-comercio {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .container-row {
        flex-direction: column-reverse;
    }
}

@media (max-width:850px) {
    .div-container-search-icon {
        width: 100%;
    }
    .section-container-search .input-buscarcomercio {
        width: 100%;
    }
    .section-container-search .div-container-select {
        width: 100%;
        select {
            width: 100%;
        }
    }
}

@media (max-width:768px) {
    .section-contract-div-product {
        display: flex;
    }
    .section-contract-title-contract {
        text-align: center;
    }
    .info-contact-container {
        text-align: center;
    }
    footer .enlaces-container {
        text-align: center;
        padding-top: 1em;
        padding-bottom: 1em;
        flex-direction: column;
        gap: 1em;
        padding-left: 0;
    }
    .navegation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .title-navegation {
        padding-bottom: 0.5em;
    }
    .enlace {
        text-decoration: none;
        color: gray;
        padding-bottom: 2em;
    }
    .icon-contact {
        margin-right: 1em;
    }
    footer {
        flex-direction: column;
        .email-container {
            justify-content: center;
        }
        .number-container {
            justify-content: center;
        }
    }
}

@media (max-width:750px) {
    .section-form-contact {
        width: 100%;
    }
    .form-contact {
        width: 100%;
    }

    .section-nosotros {
        padding-left: 1em;
        padding-right: 1em;
    }

    .iframe-nosotros {
        width: 100%;
    }
}

@media (max-width:425px) {
    .section-contract-title-contract {
        text-align: center;
    }
    .section-contract-div-product {
        flex-direction: column;
        align-items: center;
    }
    .image-product-container {
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }
    .section-container-comercio {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
    }

    .container-row .search-blog-input {
        width: 20em;
    }
}

@media (max-width:610px) {
    .container-row .div-container-blog {
        flex-wrap: wrap;
    }

    .container-row .image-popular {
        height: 10em;
        width: 12em;
        min-width: 10em;
        border: 0.2rem solid none;
        border-radius: 1rem;
    }
}
